@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);

    /* Custom Fonts */
    --font-ibm: "IBM Plex Mono", monospace;
    --font-inter: "Inter Inter", monospace;
}

@theme {
    /* 500 is the middle bg-linear-to-r from-primary-800 to-secondary-800*/
    --color-primary: #93a9a8;
    --color-primary-200: #C2CECD;
    --color-primary-800: #465857;
    --color-secondary: #beaeaf;
    --color-secondary-200: #D9D0D1;
    --color-secondary-100: #E3DCDC;
    --color-secondary-800: #645152;

}

@layer components {
    .btn-primary {
        @apply bg-[#beaeaf] hover:bg-[#516565] rounded-3xl border-slate-800 px-6 py-2 hover:text-white transition-all duration-[0.4s];
    }

    .bento-card {
        @apply
        relative
            flex flex-col
        bg-white/0
        hover:bg-[#DED6D7]/0
        rounded-lg 
        hover:scale-[1.15]
        hover:z-100
        transition-all ease-in-out duration-[0.4s]
        hover:shadow-[0_10px_30px_-5px_rgba(30,41,59,0.4),_0_5px_10px_-3px_rgba(30,41,59,0.3)]
    }

    .bento-title {
        @apply bg-black/30 font-ibm text-center text-2xl w-full rounded-t-lg py-2 font-semibold 
        group-hover:bg-primary
    }

    .bento-content {
        @apply text-lg text-black/75 font-inter p-6
        border-l-2 border-r-2 border-b-2 border-black/30 grow rounded-b-md transition-all duration-[0.4s]
        group-hover:bg-secondary-100 group-hover:border-secondary-100 group-hover:text-black group-hover:font-medium
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
